@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

* {
  box-sizing: border-box;
  outline: none;
}

body,
html {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  background: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #808080;
  /* opacity: 0; */
  /* pointer-events: none; */
}